<p><a href="{% url 'show_calendar' %}" style='color: white; font-size: 24px'>
<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></p>
<p><a href="{% url 'list_bookings' %}" style='color: white; font-size: 24px'>
<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a></p>
<p><a href="{% url 'list_of_completed_bookings' %}" style='color: white; font-size: 24px'>А </a></p>
<p><a href="{% url 'list_services' %}" style='color: white; font-size: 24px'>У </a></p>
<p><a href="{% url 'list_experts' %}" style='color: white; font-size: 24px'>С </a></p>
<p><a href="{% url 'list_clients' %}" style='color: white; font-size: 24px'>Кл </p>
<p><a href="{% url 'company_index' %}" style='color: white; font-size: 24px'>О к </a></p>
<p><a href="/" style='color: white; font-size: 24px'>О п</a></p>